
@import "_fonts";

body {
	font-family: Museo Sans Cyrl ;
    font-weight: 500 ;
    main {
        overflow: hidden;
    }
}

// variables

$cg: #28B663;
$cyg: #ABCB56;

// mixins

@mixin text($f,$w,$c) {
    font-size: $f;
    font-weight: $w;
    color: $c;    
} 

// templates

%btn-grd {
    max-width: 224px;
    width: 100%;
    height: 48px;
    background: linear-gradient(-45deg, #FB4D4F, #F4BA5B,);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: white !important;
    &:hover {
        text-decoration: none;
        background: linear-gradient(-45deg, #f11c20, #ec9e20,);
    }
}


%title-fon {
    background-color: $cg;
    color: white;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;

}

%input-img {
    max-width: 240px;
    width: 100%;
    height: 45px;
    border-radius: 33px;
    background-repeat: no-repeat;
    border: none;
    padding: 10px 50px 10px 50px;
    background-position: 20px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        @include text(20px,300,#000);
        opacity: .5;
    }
}

// h

.h2 {
    color: $cg;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 30px;
}

.h3 {
    @include text(25px,700,$cg);
    margin-bottom: 15px;
}

h5 {
    font-size: 20px ;
}

// navi

.dropdown-item.active, .dropdown-item:active {
    background-color: $cg;
}

.navi_btn {
    @extend %btn-grd;
    max-width: 200px;
    width: 100%;
}


// intro

.intro {
    position: relative;
    &::after {
        content: "";
        background-image: url(../img/background.png);
        opacity: .3;
        width: 55%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    &::before {
        content: "";
        background-color: $cg;
        position: absolute;
        width: 55%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.intro_img {
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(../img/first-left-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro_container {
    position: relative;
}

.intro_content {
    position: relative;
    z-index: 3;
    width: 50%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro_sub {
    &::after {
        content: "";
        width: 20px;
        height: 55.5%;
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(0%);
        background-color: $cyg;
    }
}

.intro_text {
    @include text(24px,700,#fff);
    display: flex;
}

.intro_title {
    @include text(50px,900,#fff);
    line-height: 1;
    display: flex;
}

.intro_btn {
    width: 230px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
    display: block;
    &:hover {
        color: white;
        text-decoration: none;
        opacity: .5;
    }

}

// trade

.trade {
    margin-top: 25px;
}

.trade_article {
    margin-bottom: 25px;
}

.trade_img {
    position: relative;
    border: 1px solid #C8C8C8;
}


.trade_title {
    @extend %title-fon;
}

.trade_info {
    position: relative;
    border-bottom: 1px solid #C8C8C8;
    border-right: 1px solid  #C8C8C8;
    &::after {
        content: "";
        height: 100%;
        width: 10px;
        background-color: $cyg;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.trade_list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    
}

.trade_section {
    margin-bottom: 20px;
}

.trade_item {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 15px;

}

.trade_price {
    font-size: 25px;
    font-weight: 700;
    margin: 1rem 0;
    span {
        color: $cg;
    }
}

.trade_btn {
    @extend %btn-grd;
}

// window

.window {
    padding-bottom: 40px;
    position: relative;
}

.window_block {
    padding: 20px 20px 20px 30px ;
    box-shadow: 5px 5px 30px grey;
    font-size: 18px;
    max-height: 346px;
    overflow: auto;
    .window_text {
        overflow: auto;
    }
}

.window_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 30px grey;
    padding: 25px;
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 100%;
        background-color: $cyg;
        
    }
}

.window_img {
    padding: 0;
    display: flex;
}


// present

.present_text {
    @include text(18,100,black);
    margin-top: 20px;
}

// call

.call {
    background-color: $cg;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.call_container {
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.call_header {
    @include text(30px,900,white);
    margin: 0;
}

.call_back {
    @include text(18px,500,white)
}

.call_tel {
    @extend %input-img;
    background-image: url(../icons/phone.svg);
}

.call_email {
    @extend %input-img;
    background-image: url(../icons/email.svg);
}

.call_name {
    @extend %input-img;
    background-image: url(../icons/user.svg);
}

.call_btn {
    @extend %btn-grd;
    width: 240px;
    height: 53px;
    border: none;
}

.call_agree {
    @include text(15px,300,#fff);
    span {
        font-weight: 900;
    }
}

.call_img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 257px;
    max-height: 313px;

}

.call_row {
    align-items: center;
}

.call_container {
    position: relative;
}

// example

.example_header {
    margin-bottom: 0;
}


// achive

.achive {
    background-image: url(../img/background.png);
    background-position: center;
    background-color: $cg;
    min-height: 200px;
}

.achive_count {
    @include text(70px,900,white);
    line-height: 2.5rem;
    text-align: center;
    span {
        font-size: 25px;
    }
}

.achive {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// pros

.pros {
    margin-top: 40px;
}

.pros_img {
    width: 60px;
    height: 50px;
}

.pros_text {
    @include text(18px,700,#000);
    margin-left: 15px;
    margin-bottom: 15px;
    span {
        font-weight: 300;
        
    }
}

// work

.work_img {
    padding: 0;
    display: flex;
}

.work_text {
    font-weight: 300;
    font-size: 18px;
    padding: 25px;
    box-shadow: 5px 5px 30px grey;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0px;
        width: 10px;
        height: 100%;
        background-color: $cyg;
    }
}



.work {
    position: relative;
    img {
        height: 100%;
    }
    
}

// cost

.cost {
    margin: 70px 0; 
    background-color: $cg;
    background-image: url(../img/ost4.png);
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    .container {
        min-height: 325px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    h2, .cost_title {
        font-weight: 900;
        margin: 0;
    }

    h2 {
        width: 217px;
        height: 34px;
        background-color: $cyg;
        font-size: 30px;
    }

    input {
        width: 219px;
        height: 32px;
        &::placeholder{
            font-size: 18px;
        }
    }

}

.cost_title, .cost_text {
    font-size: 18px;
}

.cost_text {
    font-weight: 300;
    position: relative;
}

.cost_btn {
    @extend %btn-grd;
    width: 214px;
    height: 48px;
    border: none;
    margin-bottom: 15px;
}

.cost_img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-85%);
}

// about

.about_row {
    min-height: 335px;
}

.about_content {
    font-size: 18px;
    box-shadow: 5px 5px 30px grey;
    position: relative;
    z-index: 3;
    background-color: white;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20px;
        background-color: $cyg;
        
    }
}

.about_text {
    position: relative;
    z-index: 5;
    background-color: white;
    margin: 0px 0px 5px 30px;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 270px;
}

.about_block {
    position: relative;
}

.about_circle-1 {
    position: absolute;
    width: 242px;
    height: 242px;
    background-color: $cg;
    background-image: url(../img/background.png);
    bottom: -25%;
    right: -14%;
    border-radius: 50%;
    z-index: 1;
}

.mini_circle-1 {
    position: absolute;
    width: 121px;
    height: 121px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

.about_img {
    position: relative;
    z-index: 5;
}

.about_circle-2 {
    position: absolute;
    width: 396px;
    height: 396px;
    background-color: $cg;
    background-image: url(../img/background.png);
    bottom: 5%;
    right: -25%;
    border-radius: 50%;
    z-index: 1;
}

.mini_circle-2 {
    position: absolute;
    width: 198px;
    height: 198px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

// shceme

.scheme {
    margin-top: 45px;
}

.scheme_article {
    margin-bottom: 45px;
}

.scheme_item{
    padding: 10px 30px;
    box-shadow: 5px 5px 30px grey;
    position: relative;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 90%;
        width: 10px;
        background-color: $cyg;
        transform: translateY(-50%);
    }
    
}

.scheme_title {
    font-size: 18px;
    font-weight: 700;
}
.scheme_text {
    font-weight: 300;
    font-size: 18px;
}
.scheme_btn {
    @extend %btn-grd;
}

.scheme_circle-1 {
    position: absolute;
    width: 152px;
    height: 152px;
    background-color: $cg;
    background-image: url(../img/background.png);
    top: 5%;
    left: -15%;
    border-radius: 50%;
    z-index: 1;
}
.mini_circle-3 {
    position: absolute;
    width: 76px;
    height: 76px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

.scheme_circle-2 {
    position: absolute;
    width: 376px;
    height: 376px;
    background-color: $cg;
    background-image: url(../img/background.png);
    top: -20%;
    left: 55%;
    border-radius: 50%;
    z-index: 1;
}
.mini_circle-4 {
    position: absolute;
    width: 188px;
    height: 188px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

// awards

.container_h2 {
    margin-top: 20px;
}

.awards {
    position: relative;
    background-image: url(../img/background.png);
    &::before {
        position: absolute;
        content: "";
        background-color: $cg;
        z-index: 0;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../img/background.png);
    }
    &::after {
        position: absolute;
        content: "";
        background-color: white;
        opacity: 0.85;
        z-index: 2;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0;
    }
}

.awards_block {
    min-height: 578px;
}

.awards_img {
    width: 80px;
}

.awards_text {
    width: calc(100% - 80px);
    font-weight: 900;
    font-size: 20px;
    div {
        font-weight: 300;
        font-size: 18px;
    }
    
}

// request

.request_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request_row {
    min-height: 362px;
}

.request_input {
    width: 264px;
    height: 36px;
    border: 1px solid #E3E3E3;

}

.call_tel {
    margin: 20px 0;
}

.request_btn {
    @extend %btn-grd;
    width: 263px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.request_info {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    span {
        font-weight: 500;
    }
}

.request_img {
    width: 100%;
    height: 100%;
}

.request_form {
    text-align: center;
}

// pay

.pay {
    margin-top: 45px;
}

.pay_content {
    &:hover {
        color: linear-gradient(-45deg, #FB4D4F, #F4BA5B,) ;
    }
}

.pay_text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
    &:hover {
        background: linear-gradient(-45deg, #FB4D4F, #F4BA5B,);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.pay_content {
    a {
        text-decoration: none;
        color: black;
    }
}

// footer

.footer {
    background-color: #E5E5E5;
    margin-top: 30px;
    padding-top: 30px;

}

.footer_contact {
    color: black;
    font-size: 14px;
    &:hover {
        text-decoration: none;
    }
}

.footer_social {
    font-size: 14px;
}

.footer_list {
    list-style: none;
    padding: 0;
    a {
        color: black;
        font-size: 14px;
        font-weight: 300;
    }
}

.footer_line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.footer_text {
    font-size: 14px;
    font-weight: 100;
}


@import "_media";



