
@import "_fonts";

body {
	font-family: Museo Sans Cyrl !important;
    font-weight: 500 !important;
    main {
        overflow: hidden;
    }
}

// variables

$cg: #28B663;
$cyg: #ABCB56;

// mixins

@mixin text($f,$w,$c) {
    font-size: $f;
    font-weight: $w;
    color: $c;    
} 

// templates

%btn-grd {
    width: 224px;
    height: 48px;
    background: linear-gradient(-45deg, #FB4D4F, #F4BA5B,);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: white !important;
    &:hover {
        text-decoration: none;
    }
}


%title-fon {
    background-color: $cg;
    color: white;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;

}

%input-img {
    width: 240px;
    height: 45px;
    border-radius: 33px;
    background-repeat: no-repeat;
    border: none;
    padding: 10px 50px 10px 50px;
    background-position: 20px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        @include text(20px,300,#000);
        opacity: .5;
    }
}

// h

.h2 {
    color: $cg;
    font-weight: 30px;
    font-weight: 900;
}

.h3 {
    @include text(25px,700,$cg);
}

h5 {
    font-size: 20px !important;
}

// navi

.dropdown-item.active, .dropdown-item:active {
    background-color: $cg;
}

.navi_btn {
    @extend %btn-grd;
}


.test {
    min-height: 450px;
    background-color: $cg;
}

.test_img {
    min-height: 450px;
    background-image: url(../img/background.png);
    opacity: .3;
    

}

// intro

.intro {
    min-height: 450px;
    position: relative;
    &::after {
        content: "";
        background-image: url(../img/background.png);
        opacity: .3;
        width: 53.54%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    &::before {
        content: "";
        background-color: $cg;
        position: absolute;
        width: 53.54%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.intro_img {
    width: 46.46%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(../img/first-left-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro_container {
    position: relative;
}

.intro_content {
    position: relative;
    z-index: 3;
    width: 50%;
    
    
}


.intro_sub {
    &::after {
        content: "";
        width: 20px;
        height: 55.5%;
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(0%);
        background-color: $cyg;
    }
    }



.intro_text {
    @include text(24px,700,#fff);
    display: flex;
}

.intro_title {
    @include text(50px,900,#fff);
    line-height: 1;
    display: flex;
}

.intro_btn {
    width: 230px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
    display: block;
    &:hover {
        color: white;
        text-decoration: none;
        opacity: .5;
    }

}

// trade

.trade {
    margin-top: 20px;
}

.trade_img {
    position: relative;
    border: 1px solid #C8C8C8;
}


.trade_title {
    @extend %title-fon;
}

.trade_info {
    position: relative;
    border-bottom: 1px solid #C8C8C8;
    border-right: 1px solid  #C8C8C8;
    &::after {
        content: "";
        height: 100%;
        width: 10px;
        background-color: $cyg;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.trade_list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    
}

.trade_item {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 15px;

}

.trade_price {
    font-size: 25px;
    font-weight: 700;
    margin: 1rem 0;
    span {
        color: $cg;
    }
}

.trade_btn {
    @extend %btn-grd;
}

// window

.window {
    margin-bottom: 5rem;
    position: relative;
    .h2 {
        margin-bottom: 20px;
        margin-top: 35px;
    }
    img {
        height: 100%;
    }
    
}

.window_block {
    padding: 20px 20px 20px 30px !important;
    box-shadow: 5px 5px 30px grey;
    font-size: 18px;
    max-height: 346px;
    overflow: auto;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        min-height: 346px;
        background-color: $cyg;
    
    
    
}

.window_text {
    overflow: auto;
    
    }
}

// present

.present_text {
    @include text(18,100,black);
}

// call

.call {
    min-height: 260px;
    background-color: $cg;
    margin-top: 35px;
}

.call_header {
    @include text(30px,900,white);
}

.call_back {
    @include text(18px,500,white)
}

.call_tel {
    @extend %input-img;
    background-image: url(../icons/phone.svg);
}

.call_email {
    @extend %input-img;
    background-image: url(../icons/email.svg);
}

.call_name {
    @extend %input-img;
    background-image: url(../icons/user.svg);
}

.call_btn {
    @extend %btn-grd;
    width: 240px;
    height: 53px;
}

.call_agree {
    @include text(15px,300,#fff);
    span {
        font-weight: 900;
    }
}

.call_img {
    position: absolute;
    bottom: -26px;
    right: 0;
    width: 257px;
    height: 313px;

}

.call_container {
    position: relative;
}

// example

.example {
    margin-top: 35px;
}


// achive

.achive {
    background-image: url(../img/background.png);
    background-position: center;
    background-color: $cg;
    min-height: 200px;
}

.achive_count {
    @include text(70px,900,white);
    line-height: 2.5rem;
    span {
        font-size: 25px;
    }
}

.achive_row {
    min-height: 200px;
}

// pros

.pros {
    margin-top: 20px;
}

.pros_img {
    position: absolute;
    left: 0;
    top: 0;
}

.pros_text {
    @include text(18px,700,#000);
    margin-left: 4rem;
    margin-top: .5rem;
    span {
        font-weight: 300;
        
    }
}

// work

.work {
    margin-top: 35px;
}

.work_text {
    font-weight: 300;
    font-size: 18px;
    padding: 20px 20px 20px 30px !important;
    box-shadow: 5px 5px 30px grey;
    overflow-y: auto;
    height: 320px;
}



.work {
    position: relative;
    img {
        height: 100%;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 7px;
        width: 10px;
        height: 320px;
        background-color: $cyg;
    }
}

// cost

.cost {
    margin: 80px 0; 
    background-color: $cg;
    background-image: url(../img/ost4.png);
    background-position: right;
    background-repeat: no-repeat;
    min-height: 325px;
    color: white;
    position: relative;
    h2, .cost_title {
        font-weight: 900;
    }

    h2 {
        width: 217px;
        height: 34px;
        background-color: $cyg;
        font-size: 30px;
    }

    input {
        width: 219px;
        height: 32px;
        &::placeholder{
            font-size: 18px;
        }
    }

}

.cost_title, .cost_text {
    font-size: 18px;
}

.cost_text {
    font-weight: 300;
}

.cost_btn {
    @extend %btn-grd;
    width: 214px;
    height: 48px;
}

.cost_row {
    min-height: 325px;
}

.cost_img {
    position: absolute;
    bottom: 0;
    right: 19%;
}

// about

.about_row {
    min-height: 335px;
}

.about_content {
    font-size: 18px;
    height: 270px;
    box-shadow: 5px 5px 30px grey;
    position: relative;
    z-index: 3;
    background-color: white;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20px;
        background-color: $cyg;
        
    }
}

.about_text {
    position: relative;
    z-index: 5;
    background-color: white;
    margin: 0px 0px 5px 30px;
    height: 100%;
}

.about_block {
    height: 335px;
    position: relative;
}

.about_circle-1 {
    position: absolute;
    width: 242px;
    height: 242px;
    background-color: $cg;
    background-image: url(../img/background.png);
    bottom: -25%;
    right: -14%;
    border-radius: 50%;
    z-index: 1;
}

.mini_circle-1 {
    position: absolute;
    width: 121px;
    height: 121px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

.about_img {
    position: relative;
    z-index: 5;
}

.about_circle-2 {
    position: absolute;
    width: 396px;
    height: 396px;
    background-color: $cg;
    background-image: url(../img/background.png);
    bottom: 5%;
    right: -25%;
    border-radius: 50%;
    z-index: 1;
}

.mini_circle-2 {
    position: absolute;
    width: 198px;
    height: 198px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

// shceme

.scheme {
    margin-top: 45px;
}

.scheme_item{
    padding: 8px;
    min-width: 360px;
    box-shadow: 5px 5px 30px grey;
    position: relative;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    &::after {
        content: "";
        position: absolute;
        left: 15px;
        top: 50%;
        height: 90%;
        width: 10px;
        background-color: $cyg;
        transform: translateY(-50%);
    }
    
}

.scheme_title {
    font-size: 18px;
    font-weight: 700;
}
.scheme_text {
    font-weight: 300;
    font-size: 18px;
}
.scheme_btn {
    @extend %btn-grd;
}

.scheme_circle-1 {
    position: absolute;
    width: 152px;
    height: 152px;
    background-color: $cg;
    background-image: url(../img/background.png);
    top: 5%;
    left: -15%;
    border-radius: 50%;
    z-index: 1;
}
.mini_circle-3 {
    position: absolute;
    width: 76px;
    height: 76px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

.scheme_circle-2 {
    position: absolute;
    width: 376px;
    height: 376px;
    background-color: $cg;
    background-image: url(../img/background.png);
    top: -20%;
    left: 55%;
    border-radius: 50%;
    z-index: 1;
}
.mini_circle-4 {
    position: absolute;
    width: 188px;
    height: 188px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%,- 50%, 0);
}

// awards

.container_h2 {
    margin-top: 45px;
}

.awards {
    min-height: 578px;
    position: relative;
    background-image: url(../img/background.png);
    &::before {
        position: absolute;
        content: "";
        background-color: $cg;
        z-index: 0;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../img/background.png);
    }
    &::after {
        position: absolute;
        content: "";
        background-color: white;
        opacity: 0.85;
        z-index: 2;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0;
    }
}

.awards_block {
    min-height: 578px;
}

.awards_img {
    width: 80px;
}

.awards_text {
    width: calc(100% - 80px);
    font-weight: 900;
    font-size: 20px;
    div {
        font-weight: 300;
        font-size: 18px;
    }
    
}

// request

.request_row {
    min-height: 362px;
}

.request_input {
    width: 264px;
    height: 36px;
    border: 1px solid #E3E3E3;

}

.request_btn {
    @extend %btn-grd;
    width: 263px;
}

.request_info {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    span {
        font-weight: 500;
    }
}

.request_img {
    width: 100%;
    height: 100%;
}

// pay

.pay {
    margin-top: 45px;
}

.pay_content {
    &:hover {
        color: linear-gradient(-45deg, #FB4D4F, #F4BA5B,) !important;
    }
}

.pay_text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1.5rem;
    &:hover {
        background: linear-gradient(-45deg, #FB4D4F, #F4BA5B,);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.pay_content {
    a {
        text-decoration: none;
        color: black;
    }
}

// footer

.footer {
    background-color: #E5E5E5;
    margin-top: 30px;
    

}

.footer_contact {
    color: black;
    font-size: 14px;
    &:hover {
        text-decoration: none;
    }
}

.footer_social {
    font-size: 14px;
}

.footer_list {
    list-style: none;
    padding: 0;
    a {
        color: black;
        font-size: 14px;
        font-weight: 300;
    }
}

.footer_line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.footer_text {
    font-size: 14px;
    font-weight: 100;
}





// media

// 1200

@media(max-width:1200px) {
    .navbar-brand {
        display: none;
    }

    .about_img {
        margin-top: 1rem;
    }

    .intro_content {
        padding-top: 2rem !important;
    }
    .about_img, .about_block {
        width: 100% !important;
    }

    .about_circle-1 {
        bottom: -27%;
        right: -5%;
    }
    .about_circle-2 {
        bottom: 5%;
        right: -20%;
    }


    .scheme_item {
        width: 310px;
        height: 200px;
        &::after {
            left: 7px;
        }
    }

    .scheme {
        h2 {
            text-align: center;
        }
    }

    .scheme_text {
        padding-left: 1.5rem !important;
    }

    .call {
        .call_name {
            margin-left: 10px;
        }
        .call_email {
            margin-left: 5px;
        }
        .call_agree {
            margin-left: 15px;
        }

        .call_img {
            right: -60px;
        }
    }
}

// 992

@media(max-width:992px) {

    .navbar-brand {
        display: inline-block;
    }

    .intro_content {
        padding-top: 1rem !important;
    }

    .request_info {
        margin-bottom: 1.5rem;
    }

    .h2 {
        text-align: center;
    }
    .scheme {
        margin-top: 11rem !important;
    }
    .scheme_circle-1 {
        top: 51%;
        left: -10%;
    }
    .scheme_circle-2{
        top: 151%;
        left: 4%;
    }

    .about_circle-2 {
        bottom: -57%;
        right: -15%;
    }

    .about_circle-1 {
        bottom: -26%;
        right: 75%;
    }

    .achive_count {
        margin-bottom: 1rem;
    }

    .call {
        .call_name {
            margin-left: 0px;
        }
        .call_email {
            margin-left: 0px;
        }
        .call_agree {
            margin-left: 0px;
            margin-top: 1rem;
            padding-bottom: 1rem;
        }
        .call_row {
            margin-bottom: 1rem !important;
        }
        .call_back {
            margin-bottom: 0 !important;
        }
        .call_img {
            bottom: 5px;
            right: -20px;
        }
    }

    .cost {
        .call_name {
            margin-top: 0 !important;
        }
    }

    .call {
        input {
            margin-top: 1rem;
        }
    }
}

// 768

@media(max-width:768px) {

    .work {
        &::after {
            right: 15px;
        }
    }

    .footer_contact {
        display: inline;
        padding-left: .5rem !important;
    }

    .trade {
        margin-top: 30rem !important;
    }

    .intro {
        &::before {
            width: 100%;
        }
    }

    .intro {
        &::after {
            width: 100%;
        }
    }

    .intro_img {
        width: 100%;
        top: 100%;
    }

    .intro_content {
        width: 100%;
        padding-top: 3rem !important;
    }

    .scheme {
        margin-top: 1.5rem !important;
    }

    .scheme_item {
        width: 100%;
    }

    .scheme_circle-1 {
        display: none;
    }
    .scheme_circle-2{
        display: none;
    }

    .about_circle-2 {
        display: none;
    }

    .about_circle-1 {
        display: none;
    }

    .call_img {
        display: none;
    }

    .awards {

        .awards_text {
            padding: 0 !important;
        }

        .awards_block {
            text-align: center;
        }
        .awards_row {
            justify-content: center;
            text-align: center;
        }

        &::before {
            width: 100%;
            height: 60%;
            left: 0;
            top: 0;
        }
        &::after {
            width: 100%;
            height: 40%;
            left: 0%;
            top: 60%;
        }
    }

    .trade_img {
        img {
            width: 100%;
        }
    }

    .window_text {
        margin-bottom: rem;
    }

    .h2 {
        text-align: center;
    }

    .cost {
        background-image: none;
    }

    .cost_img {
        display: none;
    }
    .footer_text {
        text-align: center !important;
    }
    
}

// 576

@media(max-width:576px) {

    .intro_title {
        font-size: 42px;
    }

    .intro_text {
        font-size: 20px;
    }

    .about_text {
        overflow: auto;
    }
    .awards {
        &::before {
            width: 100%;
            height: 76%;
            left: 0;
            top: 0;
        }
        &::after {
            width: 100%;
            height: 24%;
            left: 0%;
            top: 76%;
        }
    }
    .achive_count {
        font-size: 60px;
    }
    
}

// 380

@media(max-width:380px) {
    .awards_block {
        padding-left: 0 !important;
        padding-top: 1rem !important;
    }
}




